*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
@media screen and (max-width:500px) {
    .barra {
        background-color: #ebebeb44;
        border-bottom: solid #D9D9D9 1px ;
        display: flex;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
        align-content: stretch;
        align-items: center;
    }
    .barra h2 {
        color: #000;
    }
    .barra img{
        height: 30px;
        width: 30px;
        padding-left: 10px;
        transform: rotate(175deg);
        
    }
    .container01{
        margin-top: 60px;
        height: 300px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* background: rgb(155,6,168); */
    }
    .continuar{
        display: flex;
    text-align: center;
    border-radius: 50px;
    width: 90%;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
        
        
    }
    .link01{
        font-size: 15px;
        background-color:  #3b5998;
        padding: 10px;
        border-radius: 30px;
    }
    .link01 a{
        text-decoration: none;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
    }
    .link02{
        font-size: 15px;
        background-color:  #000000;
        padding: 10px;
        border-radius: 30px;
    }
    .link02 a{
        text-decoration: none;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
    }
    .link03{
        font-size: 15px;
        background-color:  #fff;
        border-bottom: solid #D9D9D9 1px ;
        padding: 10px;
        border-radius: 30px;
    }
    .link03 a{
        text-decoration: none;
        color: #000;
        padding-left: 20px;
        padding-right: 20px;
    }
    .link04{
        font-size: 15px;
        background-color:  #fff;
        padding: 10px;
        border-radius: 30px;
    }
    .link04 a{
        text-decoration: none;
        color: #000;
        padding-left: 20px;
        padding-right: 20px;
    }
}